@import './mixin.scss';
$namespace: simple;

.#{$namespace}-tabs {
    width: fit-content;
    padding: 12px 16px;
    border-radius: 12px; // 圆角
    overflow: hidden; // 超出隐藏
    background-color: #e2e6eb; // 背景色
    box-shadow: -10px -10px 15px #f5f9fd, 10px 10px 15px #d8dbe5;
    position: relative;
    display: flex;
    align-items: center;


}

.#{$namespace}-tabs__zz {
    pointer-events: none;
    border: 0;
    font-weight: 600;
    border-radius: 12px;
    font-size: 14px;
    padding: 8px 15px;
    cursor: pointer;
    float: right;
    position: absolute;
    left: 16px;
    top: 12px;
    @include boxShadow(#444, rgba(255, 255, 255, 0), #f5f9fd, #d9dce6);
    &--default {
        // width: 100px;
        height: 38px;
    }
}