// success
$success-default-bgc: #37E863;
$success-default-border: #37E863;
$success-default-font-color: #DCFDD7;

$success-hover-bgc: #67F17C;
$success-hover-border: #67F17C;
$success-hover-font-color: #DCFDD7;

$success-active-bgc: #28C75F;
$success-active-border: #28C75F;
$success-active-font-color: #DCFDD7;

$success-text-font-color: #37E863;
$success-text-bgc: #fff;
$success-text-border: #fff;

$success-text-hover-font-color: #DCFDD7;
$success-text-hover-bgc: #67F17C;
$success-text-hover-border: #67F17C;

$success-text-active-font-color: #DCFDD7;
$success-text-active-bgc: #28C75F;
$success-text-active-border: #28C75F;

// warning
$warning-default-bgc: #FFD30F;
$warning-default-border: #FFD30F;
$warning-default-font-color: #FFF9CF;

$warning-hover-bgc: #FFE14B;
$warning-hover-border: #FFE14B;
$warning-hover-font-color: #FFF9CF;

$warning-active-bgc: #DBB10A;
$warning-active-border: #DBB10A;
$warning-active-font-color: #FFF9CF;

$warning-text-font-color: #FFD30F;
$warning-text-bgc: #fff;
$warning-text-border: #fff;

$warning-text-hover-font-color: #FFF9CF;
$warning-text-hover-bgc: #FFE14B;
$warning-text-hover-border: #FFE14B;

$warning-text-active-font-color: #FFF9CF;
$warning-text-active-bgc: #DBB10A;
$warning-text-active-border: #DBB10A;


// primary
$primary-default-bgc: #3366FF;
$primary-default-border: #3366FF;
$primary-default-font-color: #D6E4FF;

$primary-hover-bgc: #6690FF;
$primary-hover-border: #6690FF;
$primary-hover-font-color: #D6E4FF;

$primary-active-bgc: #254EDB;
$primary-active-border: #254EDB;
$primary-active-font-color: #D6E4FF;

$primary-text-font-color: #3366FF;
$primary-text-bgc: #fff;
$primary-text-border: #fff;

$primary-text-hover-font-color: #D6E4FF;
$primary-text-hover-bgc: #6690FF;
$primary-text-hover-border: #6690FF;

$primary-text-active-font-color: #D6E4FF;
$primary-text-active-bgc: #254EDB;
$primary-text-active-border: #254EDB;


// danger
$danger-default-bgc: #FF4B38;
$danger-default-border: #FF4B38;
$danger-default-font-color: #FFE7D7;

$danger-hover-bgc: #FF8469;
$danger-hover-border: #FF8469;
$danger-hover-font-color: #FFE7D7;

$danger-active-bgc: #DB2B28;
$danger-active-border: #DB2B28;
$danger-active-font-color: #FFE7D7;

$danger-text-font-color: #FF4B38;
$danger-text-bgc: #fff;
$danger-text-border: #fff;

$danger-text-hover-font-color: #FFE7D7;
$danger-text-hover-bgc: #FF8469;
$danger-text-hover-border: #FF8469;

$danger-text-active-font-color: #FFE7D7;
$danger-text-active-bgc: #DB2B28;
$danger-text-active-border: #DB2B28;

// info
$info-default-bgc: #46BFFC;
$info-default-border: #46BFFC;
$info-default-font-color: #DAFBFE;

$info-hover-bgc: #74D8FD;
$info-hover-border: #74D8FD;
$info-hover-font-color: #DAFBFE;

$info-active-bgc: #3396D8;
$info-active-border: #3396D8;
$info-active-font-color: #DAFBFE;

$info-text-font-color: #46BFFC;
$info-text-bgc: #fff;
$info-text-border: #fff;

$info-text-hover-font-color: #DAFBFE;
$info-text-hover-bgc: #74D8FD;
$info-text-hover-border: #74D8FD;

$info-text-active-font-color: #DAFBFE;
$info-text-active-bgc: #3396D8;
$info-text-active-border: #3396D8;


// default
$default-bgc: #fff;
$default-border: #dcdfe6;
$default-font-color: #606266;

$hover-bgc: #668fff3b;
$hover-border: #668fff3b;
$hover-font-color: #3366FF;

$active-bgc: #668fff3b;
$active-border: #254EDB;
$active-font-color: #3366FF;

$text-font-color: #3366FF;
$text-bgc: #fff;
$text-border: #fff;

$text-hover-font-color: #3366FF;
$text-hover-bgc: #668fff3b;
$text-hover-border: #668fff3b;

$text-active-font-color: #254EDB;
$text-active-bgc: #668fff3b;
$text-active-border: #254EDB;