@use './variable';

.simple-button {
    border: 1px solid $default-border;
    background-color: $default-bgc;
    color: $default-font-color;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    user-select: none;
    +.simple-button {
        margin-left: 10px;
    }

    &:hover {
        color: $hover-font-color;
        background-color: $hover-bgc;
        border-color: $hover-border;
        outline: none;
    }

    &:active {
        background-color: $active-bgc;
        border-color: $active-border;
        color: $active-font-color;
    }

    &.is-text {
        background-color: $text-bgc;
        border-color: $text-border;
        color: $text-font-color;

        &:hover {
            background-color: $text-hover-bgc;
            border-color: $text-hover-border;
            color: $text-hover-font-color;
        }

        &:active {

            background-color: $text-active-bgc;
            border-color: $text-active-border;
            color: $text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $text-bgc;
            border-color: $text-border;
            color: $text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $hover-bgc;
        border-color: $hover-border;
        color: $hover-font-color;
    }

    &.is-round {
        border-radius: 20px;
    }

    &.is-circle {
        border-radius: 50%;
        padding: 8px;
    }

}


// size
.simple-button--small {
    font-size: 12px;
    padding: 5px 11px;
}

.simple-button--default {
    font-size: 14px;
    padding: 8px 15px;
}

.simple-button--large {
    font-size: 16px;
    padding: 12px 19px;
}



.simple-button--danger {
    background-color: $danger-default-bgc;
    color: $danger-default-font-color;
    border-color: $danger-default-border;

    &:hover {
        color: $danger-hover-font-color;
        background-color: $danger-hover-bgc;
        border-color: $danger-hover-border;
        outline: none;
    }

    &:active {
        background-color: $danger-active-bgc;
        border-color: $danger-active-border;
        color: $danger-active-font-color;
    }

    &.is-text {
        background-color: $danger-text-bgc;
        border-color: $danger-text-border;
        color: $danger-text-font-color;

        &:hover {
            background-color: $danger-text-hover-bgc;
            border-color: $danger-text-hover-border;
            color: $danger-text-hover-font-color;
        }

        &:active {

            background-color: $danger-text-active-bgc;
            border-color: $danger-text-active-border;
            color: $danger-text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $danger-text-bgc;
            border-color: $danger-text-border;
            color: $danger-text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $danger-hover-bgc;
        border-color: $danger-hover-border;
        color: $danger-hover-font-color;
    }
}

.simple-button--success {
    background-color: $success-default-bgc;
    color: $success-default-font-color;
    border-color: $success-default-border;

    &:hover {
        color: $success-hover-font-color;
        background-color: $success-hover-bgc;
        border-color: $success-hover-border;
        outline: none;
    }

    &:active {
        background-color: $success-active-bgc;
        border-color: $success-active-border;
        color: $success-active-font-color;
    }

    &.is-text {
        background-color: $success-text-bgc;
        border-color: $success-text-border;
        color: $success-text-font-color;

        &:hover {
            background-color: $success-text-hover-bgc;
            border-color: $success-text-hover-border;
            color: $success-text-hover-font-color;
        }

        &:active {

            background-color: $success-text-active-bgc;
            border-color: $success-text-active-border;
            color: $success-text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $success-text-bgc;
            border-color: $success-text-border;
            color: $success-text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $success-hover-bgc;
        border-color: $success-hover-border;
        color: $success-hover-font-color;
    }
}

.simple-button--warning {
    background-color: $warning-default-bgc;
    color: $warning-default-font-color;
    border-color: $warning-default-border;

    &:hover {
        color: $warning-hover-font-color;
        background-color: $warning-hover-bgc;
        border-color: $warning-hover-border;
        outline: none;
    }

    &:active {
        background-color: $warning-active-bgc;
        border-color: $warning-active-border;
        color: $warning-active-font-color;
    }

    &.is-text {
        background-color: $warning-text-bgc;
        border-color: $warning-text-border;
        color: $warning-text-font-color;

        &:hover {
            background-color: $warning-text-hover-bgc;
            border-color: $warning-text-hover-border;
            color: $warning-text-hover-font-color;
        }

        &:active {

            background-color: $warning-text-active-bgc;
            border-color: $warning-text-active-border;
            color: $warning-text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $warning-text-bgc;
            border-color: $warning-text-border;
            color: $warning-text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $warning-hover-bgc;
        border-color: $warning-hover-border;
        color: $warning-hover-font-color;
    }
}

.simple-button--primary {
    background-color: $primary-default-bgc;
    color: $primary-default-font-color;
    border-color: $primary-default-border;

    &:hover {
        color: $primary-hover-font-color;
        background-color: $primary-hover-bgc;
        border-color: $primary-hover-border;
        outline: none;
    }

    &:active {
        background-color: $primary-active-bgc;
        border-color: $primary-active-border;
        color: $primary-active-font-color;
    }

    &.is-text {
        background-color: $primary-text-bgc;
        border-color: $primary-text-border;
        color: $primary-text-font-color;

        &:hover {
            background-color: $primary-text-hover-bgc;
            border-color: $primary-text-hover-border;
            color: $primary-text-hover-font-color;
        }

        &:active {

            background-color: $primary-text-active-bgc;
            border-color: $primary-text-active-border;
            color: $primary-text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $primary-text-bgc;
            border-color: $primary-text-border;
            color: $primary-text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $primary-hover-bgc;
        border-color: $primary-hover-border;
        color: $primary-hover-font-color;
    }
}



.simple-button--info {
    background-color: $info-default-bgc;
    color: $info-default-font-color;
    border-color: $info-default-border;

    &:hover {
        color: $info-hover-font-color;
        background-color: $info-hover-bgc;
        border-color: $info-hover-border;
        outline: none;
    }

    &:active {
        background-color: $info-active-bgc;
        border-color: $info-active-border;
        color: $info-active-font-color;
    }

    &.is-text {
        background-color: $info-text-bgc;
        border-color: $info-text-border;
        color: $info-text-font-color;

        &:hover {
            background-color: $info-text-hover-bgc;
            border-color: $info-text-hover-border;
            color: $info-text-hover-font-color;
        }

        &:active {

            background-color: $info-text-active-bgc;
            border-color: $info-text-active-border;
            color: $info-text-active-font-color;
        }

        &.is-disabled {
            cursor:not-allowed;
            background-color: $info-text-bgc;
            border-color: $info-text-border;
            color: $info-text-font-color;
        }
    }

    &.is-disabled {
        cursor:not-allowed;
        background-color: $info-hover-bgc;
        border-color: $info-hover-border;
        color: $info-hover-font-color;
    }
}