@mixin boxShadow($color, $bg-color, $shadow-color1, $shadow-color2) {
    color: $color;
    background-color: $bg-color;
    box-shadow: inset 8px 8px 6px $shadow-color1,
        inset -5px -5px 15px $shadow-color2,
        inset -5px -5px 15px $shadow-color2,
        inset 7px 7px 6px $shadow-color1;

    &:active {
        color: $color;
        transform: translateY(1px);
        box-shadow: inset 8px 8px 6px $shadow-color2,
            inset -5px -5px 15px $shadow-color1,
            inset -5px -5px 15px $shadow-color1,
            inset 7px 7px 6px $shadow-color2;
    }

    &.is-disabled {
        cursor: not-allowed;
        opacity: 0.75;

        &:active {
            transform: none;
            box-shadow: inset 8px 8px 6px $shadow-color1,
                inset -5px -5px 15px $shadow-color2,
                inset -5px -5px 15px $shadow-color2,
                inset 7px 7px 6px $shadow-color1;
        }

    }
}
